<% include ../partials/adminHeader %>

<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li><a href="/admin/home">Dashboard</a></li>
            <li><a href="/admin/customers">Customers</a></li>
            <li><a href="/admin/stock">Stock</a></li>
            <li><a href="/admin/invoices">Invoices</a></li>
            <li><a href="/admin/creditnotes">Credit Notes</a></li>
            <li><a href="/admin/offers">Offers</a></li>
            <li><a href="/admin/reports">Reports</a></li>
            <li><a href="/admin/users">Users</a></li>
            <li class="active"><a href="/admin/currencies">Currencies</a></li>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/admin/positions">Positions</a></li>
        </ul>
    </nav>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Currency List</h1>
            </div>
        </header>
        <p>
            <a class = "button button-primary" href ="/admin/currencies/new">Add New Position</a>
        </p>

        <table class="generalTable">
            <tr>
                <th>Currency Name</th>
                <th>Currency Conversion</th>
                <th>Valid From</th>
                <th>Valid Until</th>
            </tr>
            <% currency.forEach(function(currency){ %>
            <tr>
                <td><%=currency.currencyName%></td>
                <td><%=currency.currencyConvert%></td>
                <td><%=('0' + currency.validFrom.getDate()).slice(-2) +'/'+ ('0' + (currency.validFrom.getMonth()+1)).slice(-2) +'/'+ currency.validFrom.getFullYear()%></td>
                <td><%=('0' + currency.validUntil.getDate()).slice(-2) +'/'+ ('0' + (currency.validUntil.getMonth()+1)).slice(-2) +'/'+ currency.validUntil.getFullYear()%></td>
                <td>
                    <div>
                        <a class="editButton" href='/admin/currencies/edit/<%= currency.currencyID %>'>Edit</a>
                    </div>
                </td>
            </tr>
            <% }) %>
        </table>

<% include ../partials/footer %>