<% include ../partials/adminHeader %>

<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li><a href="/admin/home">Dashboard</a></li>
            <li><a href="/admin/customers">Customers</a></li>
            <li><a href="/admin/stock">Stock</a></li>
            <li><a href="/admin/invoices">Invoices</a></li>
            <li><a href="/admin/creditnotes">Credit Notes</a></li>
            <li><a href="/admin/offers">Offers</a></li>
            <li><a href="/admin/reports">Reports</a></li>
            <li><a href="/admin/users">Users</a></li>
            <li class="active"><a href="/admin/currencies">Currencies</a></li>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/admin/positions">Positions</a></li>
        </ul>
    </nav>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Edit Currency</h1>
            </div>
        </header>


        <form class = "form-center" action="/admin/currencies/edit" method="POST">
            <div class="form-group row">
                <input type="hidden" name="currencyID" value="<%=currencyID%>">
                <label for="currencyName" class="col-2 col-form-label">Currency Name:</label>
                <div class="col-4">
                    <input type="text" class="form-control" name = "currencyName" value="<%= currencyName%>" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="currencyConvert" class="col-2 col-form-label">Currency Conversion:</label>
                <div class="col-4">
                    <input type="number" step="0.01" class="form-control" name = "currencyConvert" value="<%= currencyConvert%>" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="validFrom" class="col-2 col-form-label">Valid From:</label>
                <div class="col-4">
                    <input type="date" class="form-control" name = "validFrom" value="<%= validFrom.getFullYear()+'-'+ ('0' +(validFrom.getMonth()+1)).slice(-2)+'-'+('0' +validFrom.getDate()).slice(-2)%>" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="validUntil" class="col-2 col-form-label">Valid Until:</label>
                <div class="col-4">
                    <input type="date" class="form-control" name = "validUntil" value="<%= validUntil.getFullYear()+'-'+ ('0' +(validUntil.getMonth()+1)).slice(-2)+'-'+('0' +validUntil.getDate()).slice(-2)%>" required>
                </div>
            </div>
        <button class = "button button-primary button-form">Submit!</button>
    </form>


<% include ../partials/footer %>