<% include ../partials/adminHeader %>

<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li><a href="/admin/home">Dashboard</a></li>
            <li><a href="/admin/customers">Customers</a></li>
            <li><a href="/admin/stock">Stock</a></li>
            <li class="active"><a href="/admin/invoices">Invoices</a></li>
            <li><a href="/admin/creditnotes">Credit Notes</a></li>
            <li><a href="/admin/offers">Offers</a></li>
            <li><a href="/admin/reports">Reports</a></li>
            <li><a href="/admin/users">Users</a></li>
            <li><a href="/admin/currencies">Currencies</a></li>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/admin/positions">Positions</a></li>
        </ul>
    </nav>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Edit Invoice</h1>
            </div>
        </header>


    <form class = "form-center" action="/admin/invoices/edit" method="POST">
        <input type="hidden" name="invoiceNo" value="<%= invoice.invoiceNo %>">
        <div class="form-group row">
            <input type="hidden" name="invoice_userID" value="<%= invoice.invoice_userID %>">
            <label for="invoice_customerID" class="col-2 col-form-label">Select Customer:</label>
            <div class="col-4">
                <select class="form-control" name="invoice_customerID" required>
                    <option disabled selected value></option>
                    <% customer.forEach(function(customer){ %>
                    <option <%if(invoice.invoice_customerID === customer.customerID){%>selected<%}else{}%> value ="<%= customer.customerID%>"> <%= customer.customerBusiness%> </option>
                    <%})%>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="invoiceDate" class="col-2 col-form-label">Invoice Date:</label>
            <div class="col-4">
                <input type="date" class="form-control" name = "invoiceDate" value="<%= invoice.invoiceDate.getFullYear()+'-'+ ('0' +(invoice.invoiceDate.getMonth()+1)).slice(-2)+'-'+('0' +invoice.invoiceDate.getDate()).slice(-2)%>" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="invoiceDueDate" class="col-2 col-form-label">Invoice Due Date:</label>
            <div class="col-4">
                <input type="date" class="form-control" name = "invoiceDueDate" value="<%= invoice.invoiceDueDate.getFullYear()+'-'+ ('0' +(invoice.invoiceDueDate.getMonth()+1)).slice(-2)+'-'+('0' +invoice.invoiceDueDate.getDate()).slice(-2)%>" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="invoice_currencyID" class="col-2 col-form-label">Select Currency:</label>
            <div class="col-4">
                <select class="form-control" name="invoice_currencyID" required>
                    <option disabled selected value></option>
                    <% currency.forEach(function(currency){ %>
                    <option <%if(invoice.invoice_currencyID === currency.currencyID){%>selected<%}else{}%> value ="<%= currency.currencyID%>" > <%= currency.currencyName%> </option>
                    <%})%>
                </select>
            </div>
        </div>
        <% for(i = 0; i < invoice_stock.length; i++) {%>
        <div class="form-group row">
            <label for="invoice_stockID<%= i+1 %>" class="col-2 col-form-label">Select Stock <%= i+1 %>:</label>
            <div class="col-4">
                <select class="form-control" name="invoice_stockID<%= i+1 %>" required>
                    <% stock.forEach(function(stock){ %>
                    <option <%if(invoice_stock[i].join_stockID === stock.stockID){%>selected<%}else{}%> value ="<%= stock.stockID%>"> <%= stock.productName%> - <%= stock.quantityStockCurrent%> </option>
                    <%})%>
                </select>
            </div>
            <label for="invoice_stockQty<%= i+1 %>" class="col-2 col-form-label">Quantity:</label>
            <div class="col-4">
                <input type="number" class="form-control" name = "invoice_stockQty<%= i+1 %>" value="<%=invoice_stock[i].stockQuantity %>" required>
            </div>
            <label for="invoice_stockPrice<%= i+1 %>" class="col-2 col-form-label">Price:</label>
            <div class="col-4">
                <input type="number" step="0.01" class="form-control" name = "invoice_stockPrice<%= i+1 %>" value="<%=invoice_stock[i].priceSold %>" required>
            </div>
        </div>
        <% } %>
        <div class="form-group row">
            <label for="invoice_vatID" class="col-2 col-form-label">VAT Rate:</label>
            <div class="col-4">
                <select class="form-control" name="invoice_vatID" required>
                    <option disabled selected value></option>
                    <% vat.forEach(function(vat){ %>
                    <option <%if(invoice.invoice_vatID === vat.vatID){%>selected<%}else{}%> value ="<%= vat.vatID%>"> <%= vat.vatRate%> </option>
                    <%})%>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="invoiceAdjustments" class="col-2 col-form-label">Adjustments:</label>
            <div class="col-4">
                <input type="number" step="0.01" class="form-control" value = "<%= invoice.invoiceAdjustments %>" name = "invoiceAdjustments" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="saleVoid" class="col-2 col-form-label">Sale Void?</label>
            <div class="col-4">
                <input type="number" step="0.01" class="form-control" value = "0" name = "saleVoid" required>
            </div>
        </div>
        <button class = "button button-primary button-form">Submit!</button>
    </form>


<% include ../partials/footer %>