<% include ../partials/adminHeader %>

<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li><a href="/admin/home">Dashboard</a></li>
            <li><a href="/admin/customers">Customers</a></li>
            <li><a href="/admin/stock">Stock</a></li>
            <li><a href="/admin/invoices">Invoices</a></li>
            <li><a href="/admin/creditnotes">Credit Notes</a></li>
            <li><a href="/admin/offers">Offers</a></li>
            <li><a href="/admin/reports">Reports</a></li>
            <li class="active"><a href="/admin/users">Users</a></li>
            <li><a href="/admin/currencies">Currencies</a></li>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/admin/positions">Positions</a></li>
        </ul>
    </nav>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Edit User</h1>
            </div>
        </header>


        <form action="/admin/users/edit" method="POST">
            <div class="form-group row">
                <input type="hidden" name="userID" value="<%=userID%>">
                <label for="fName" class="col-2 col-form-label">First Name:</label>
                <div class="col-4">
                    <input type="text" class="form-control" name = "fName" value="<%=fName%>" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="lName" class="col-2 col-form-label">Last Name:</label>
                <div class="col-4">
                    <input type="text" class="form-control" name = "lName" value="<%=lName%>" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-2 col-form-label">Email:</label>
                <div class="col-4">
                    <input type="email" class="form-control" name = "email" value="<%=email%>" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-2 col-form-label">Password:</label>
                <div class="col-4">
                    <input type="password" class="form-control" name = "password" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="registerDate" class="col-2 col-form-label">Register Date:</label>
                <div class="col-4">
                    <input type="date" class="form-control" name = "registerDate" value="<%=registerDate.getFullYear()+'-'+ ('0' +(registerDate.getMonth()+1)).slice(-2)+'-'+('0' +registerDate.getDate()).slice(-2)%>" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="user_positionID" class="col-2 col-form-label">Position:</label>
                <div class="col-4">
                    <select class="form-control" name="user_positionID" required>
                        <option disabled selected value></option>
                        <% position.forEach(function(position){ %>
                        <option <%if(user_positionID === position.positionID){%>selected<%}else{}%> value ="<%= position.positionID%>"> <%= position.positionName%> </option>
                        <%})%>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="adminID" class="col-2 col-form-label">Admin:</label>
                <div class="col-4">
                    <select class="form-control" name="adminID" required>
                        <option selected value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                </div>
            </div>
            <button class = "button button-primary button-form">Submit!</button>
        </form>

        <p>
            <a class = "button button-primary" href ="/admin/users">Go Back</a>
        </p>

<% include ../partials/footer %>