<% include ../partials/adminHeader %>

<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active"><a href="/admin/home">Dashboard</a></li>
            <li><a href="/admin/customers">Customers</a></li>
            <li><a href="/admin/stock">Stock</a></li>
            <li><a href="/admin/invoices">Invoices</a></li>
            <li><a href="/admin/creditnotes">Credit Notes</a></li>
            <li><a href="/admin/offers">Offers</a></li>
            <li><a href="/admin/reports">Reports</a></li>
            <li><a href="/admin/users">Users</a></li>
            <li><a href="/admin/currencies">Currencies</a></li>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/admin/positions">Positions</a></li>
        </ul>
    </nav>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome <%= userFName %></h1>
            </div>
        </header>

        <table class="reportTable">
            <tr>
                <th>Invoice Number</th>
                <th>Invoice Date</th>
                <th>Currency</th>
                <th>Total Profit</th>
                <th>Sale By</th>
            </tr>
            <% var invoiceID = 0 %>
            <% var totalProfit = 0 %>
            <% invoice.forEach(function(invoice){ %>
            <% if(invoiceID === invoice.invoiceNo){%>

            <% totalProfit = totalProfit + ((invoice.priceSold * invoice.stockQuantity * invoice.currencyConvert)-(invoice.priceBought * invoice.stockQuantity * invoice.currencyConvert))%>
            <td></td>
            <td></td>
            <td></td>
            <td><%= ((invoice.priceSold * invoice.stockQuantity * invoice.currencyConvert)-(invoice.priceBought * invoice.stockQuantity * invoice.currencyConvert))%></td>
            <td></td>

            <% }else{%>
            <% totalProfit = totalProfit + ((invoice.priceSold * invoice.stockQuantity * invoice.currencyConvert)-(invoice.priceBought * invoice.stockQuantity * invoice.currencyConvert))%>
            <tr>
                <td><%=invoice.invoiceNo%></td>
                <td><%=('0' + invoice.invoiceDate.getDate()).slice(-2) +'/'+ ('0' + (invoice.invoiceDate.getMonth()+1)).slice(-2) +'/'+ invoice.invoiceDate.getFullYear()%></td>
                <td>GBP</td>
                <td><%=((invoice.priceSold * invoice.stockQuantity * invoice.currencyConvert)-(invoice.priceBought * invoice.stockQuantity * invoice.currencyConvert))%></td>
                <td><%=invoice.fName%></td>
            </tr>
            <%}%>
            <% invoiceID = invoice.invoiceNo %>
            <% }) %>
            <tr>
                <td></td>
                <td></td>
                <td>Total Invoice Profit:</td>
                <td><%= totalProfit %></td>
                <td></td>
            </tr>
        </table>

        <table class="reportTable">
            <tr>
                <th>Credit Note Number</th>
                <th>Credit Date</th>
                <th>Currency</th>
                <th>Total Credit</th>
                <th>Credit By</th>
            </tr>
            <% var totalCredit = 0 %>
            <% credit_note.forEach(function(credit_note){ %>

            <% totalCredit = totalCredit + ((credit_note.priceCredit * credit_note.stockQuantity * credit_note.currencyConvert)-(credit_note.priceBought * credit_note.stockQuantity * credit_note.currencyConvert))%>
            <tr>
                <td><%=credit_note.creditNo%></td>
                <td><%=('0' + (credit_note.creditDate).getDate()).slice(-2) +'/'+ ('0' + ((credit_note.creditDate).getMonth()+1)).slice(-2) +'/'+ (credit_note.creditDate).getFullYear()%></td>
                <td>GBP</td>
                <td><%=((credit_note.priceCredit * credit_note.stockQuantity * credit_note.currencyConvert)-(credit_note.priceBought * credit_note.stockQuantity * credit_note.currencyConvert))%></td>
                <td><%=credit_note.fName%></td>
            </tr>
            <% }) %>
            <tr>
                <td></td>
                <td></td>
                <td>Total Credit:</td>
                <td><%= totalCredit %></td>
                <td></td>
            </tr>
        </table>

        <table class="totalTable">
            <tr>
                <th>Total GBP Profit:</th>
                <th><%= (totalProfit - totalCredit) %></th>
            </tr>
        </table>


<% include ../partials/indexFooter %>