<% include ../partials/adminHeader %>

<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li><a href="/admin/home">Dashboard</a></li>
            <li><a href="/admin/customers">Customers</a></li>
            <li><a href="/admin/stock">Stock</a></li>
            <li><a href="/admin/invoices">Invoices</a></li>
            <li><a href="/admin/creditnotes">Credit Notes</a></li>
            <li class="active"><a href="/admin/offers">Offers</a></li>
            <li><a href="/admin/reports">Reports</a></li>
            <li><a href="/admin/users">Users</a></li>
            <li><a href="/admin/currencies">Currencies</a></li>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/admin/positions">Positions</a></li>
        </ul>
    </nav>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Offers</h1>
            </div>
        </header>

        <p>
            <a class = "button button-primary" href ="/admin/offers/new">Add New Offer</a>
        </p>

        <table class="generalTable">
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Currency</th>
                <th>Cost</th>
                <th>Date Offered</th>
                <th>Offered By</th>
            </tr>
            <% offer.forEach(function(offer){ %>
            <tr>
                <td><%=offer.productName%></td>
                <td><%=offer.quantityOffer%></td>
                <td><%=offer.currencyName%></td>
                <td><%=offer.priceOffer%></td>
                <td><%=('0' + offer.dateOffer.getDate()).slice(-2) +'/'+ ('0' + (offer.dateOffer.getMonth()+1)).slice(-2) +'/'+ offer.dateOffer.getFullYear()%></td>
                <td><%=offer.customerBusiness%></td>
                <td>
                    <div>
                        <a class="editButton" href='/admin/offers/edit/<%= offer.offerID %>'>Edit</a>
                    </div>
                </td>
            </tr>
            <% }) %>
        </table>

<% include ../partials/footer %>