<% include ../partials/adminHeader %>

<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li><a href="/admin/home">Dashboard</a></li>
            <li><a href="/admin/customers">Customers</a></li>
            <li><a href="/admin/stock">Stock</a></li>
            <li><a href="/admin/invoices">Invoices</a></li>
            <li><a href="/admin/creditnotes">Credit Notes</a></li>
            <li><a href="/admin/offers">Offers</a></li>
            <li><a href="/admin/reports">Reports</a></li>
            <li><a href="/admin/users">Users</a></li>
            <li><a href="/admin/currencies">Currencies</a></li>
            <li class="active"><a href="/admin/products">Products</a></li>
            <li><a href="/admin/positions">Positions</a></li>
        </ul>
    </nav>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Products</h1>
            </div>
        </header>
        <p>
            <a class = "button button-primary" href ="/admin/products/new">Add New Position</a>
        </p>

        <table class="generalTable">
            <tr>
                <th>Product Name</th>
                <th>Product State</th>
                <th>Product Platform</th>
                <th>Product Category</th>
            </tr>
            <% product.forEach(function(product){ %>
            <tr>
                <td><%=product.productName%></td>
                <td><%=product.productState%></td>
                <td><%=product.productPlatform%></td>
                <td><%=product.productCategory%></td>
                <td>
                    <div>
                        <a class="editButton" href='/admin/products/edit/<%= product.productID %>'>Edit</a>
                    </div>
                </td>
            </tr>
            <% }) %>
        </table>

<% include ../partials/footer %>