<% include ../partials/adminHeader %>

<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li><a href="/admin/home">Dashboard</a></li>
            <li><a href="/admin/customers">Customers</a></li>
            <li><a href="/admin/stock">Stock</a></li>
            <li><a href="/admin/invoices">Invoices</a></li>
            <li><a href="/admin/creditnotes">Credit Notes</a></li>
            <li><a href="/admin/offers">Offers</a></li>
            <li><a href="/admin/reports">Reports</a></li>
            <li class="active"><a href="/admin/users">Users</a></li>
            <li><a href="/admin/currencies">Currencies</a></li>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/admin/positions">Positions</a></li>
        </ul>
    </nav>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Users</h1>
            </div>
        </header>

        <p>
            <a class = "button button-primary" href ="/admin/users/new">Add New User</a>
        </p>

        <table class="generalTable">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Register Date</th>
                <th>Position</th>
                <th>Admin</th>
            </tr>
            <% users.forEach(function(users){ %>
            <tr>
                <td><%=users.fName%></td>
                <td><%=users.lName%></td>
                <td><%=users.email%></td>
                <td><%=('0' + users.registerDate.getDate()).slice(-2) +'/'+ ('0' + (users.registerDate.getMonth()+1)).slice(-2) +'/'+ users.registerDate.getFullYear()%></td>
                <td><%=users.positionName%></td>
                <td><%=users.adminID%></td>
                <td>
                    <div>
                        <a class="editButton" href='/admin/users/edit/<%= users.userID %>'>Edit</a>
                    </div>
                </td>
            </tr>
            <% }) %>
        </table>



<% include ../partials/footer %>