<% include ../partials/header %>

<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li><a href="/user">Dashboard</a></li>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/stock">Stock</a></li>
            <li><a href="/invoices">Invoices</a></li>
            <li><a href="/creditnotes">Credit Notes</a></li>
            <li class="active"><a href="/offers">Offers</a></li>
            <li><a href="/reports">Reports</a></li>
        </ul>
    </nav>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Offers</h1>
            </div>
        </header>

        <table class="generalTable">
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Currency</th>
                <th>Cost</th>
                <th>Date Offered</th>
                <th>Offered By</th>
            </tr>
            <% offer.forEach(function(offer){ %>
            <tr>
                <td><%=offer.productName%></td>
                <td><%=offer.quantityOffer%></td>
                <td><%=offer.currencyName%></td>
                <td><%=offer.priceOffer%></td>
                <td><%=('0' + offer.dateOffer.getDate()).slice(-2) +'/'+ ('0' + (offer.dateOffer.getMonth()+1)).slice(-2) +'/'+ offer.dateOffer.getFullYear()%></td>
                <td><%=offer.customerBusiness%></td>
            </tr>
            <% }) %>
        </table>

<% include ../partials/footer %>